*.swp
lutim.conf
*.db
*.db-shm
*.db-wal
script/hypnotoad.pid
local/*
files/*
stop-upload
themes/*
!themes/default
!themes/default/*
themes/default/templates/data.html.ep
themes/default/templates/raw.html.ep
themes/default/templates/stats.json.ep
themes/default/templates/partial/raw.js.ep
tmp/*
.zanata-cache/*
cover_db/*
