image: hatsoftwares/lutim-test-ci:latest
stages:
  - podcheck
  - carton
  - carton_bdd
  - tests
before_script:
  - rm -f *db
variables:
  POSTGRES_DB: lutim_db
  POSTGRES_USER: lutim
  POSTGRES_PASSWORD: lutim_pwd

### Jobs templates
##
#
.carton_bdd_template: &carton_bdd_definition
  stage: carton_bdd
  retry: 2
  artifacts:
    paths:
      - local/
  dependencies:
    - carton
.sqlite_template: &sqlite_definition
  stage: tests
  retry: 2
  dependencies:
    - carton_sqlite
  coverage: '/Total .*\d+\.\d+$/'
.pg_template: &pg_definition
  stage: tests
  retry: 2
  dependencies:
    - carton_postgresql
  services:
    - name: postgres:9.6
      alias: postgres
  coverage: '/Total .*\d+\.\d+$/'

### Podcheck
##
#
podcheck:
  stage: podcheck
  script:
    - make podcheck

### Install common dependencies
##
#
carton:
  stage: carton
  artifacts:
    paths:
      - local/
  dependencies: []
  script:
    - carton install --deployment --without=sqlite --without=postgresql --without=minion --without=cache --without=memcached
  when: always
  retry: 2

### Install DB related dependencies
##
#
carton_sqlite:
  <<: *carton_bdd_definition
  script:
    - carton install --deployment --without=postgresql --without=minion --without=cache --without=memcached
carton_postgresql:
  <<: *carton_bdd_definition
  script:
    - carton install --deployment --without=sqlite --without=minion --without=cache --without=memcached

### SQLite tests
##
#
sqlite1:
  <<: *sqlite_definition
  script:
    - carton install --deployment --without=postgresql --without=minion --without=cache --without=memcached
    - MOJO_CONFIG=t/sqlite1.conf make test-sqlite
    - MOJO_CONFIG=t/sqlite1.conf make watch
    - MOJO_CONFIG=t/sqlite1.conf make cleanbdd
    - MOJO_CONFIG=t/sqlite1.conf make cleanfiles
    - MOJO_CONFIG=t/sqlite1.conf make stats
    - MOJO_CONFIG=t/sqlite1.conf make cover
sqlite2:
  <<: *sqlite_definition
  script:
    - carton install --deployment --without=postgresql --without=cache --without=memcached
    - MOJO_CONFIG=t/sqlite2.conf make minion &
    - sleep 3
    - MOJO_CONFIG=t/sqlite2.conf make test-sqlite
    - MOJO_CONFIG=t/sqlite2.conf make watch
    - MOJO_CONFIG=t/sqlite2.conf make cleanbdd
    - MOJO_CONFIG=t/sqlite2.conf make cleanfiles
    - MOJO_CONFIG=t/sqlite2.conf make stats
    - MOJO_CONFIG=t/sqlite2.conf make cover
sqlite3:
  <<: *sqlite_definition
  services:
    - name: postgres:9.6
      alias: postgres
  script:
    - carton install --deployment --without=cache --without=memcached
    - export PGPASSWORD=lutim_pwd; echo 'CREATE DATABASE lutim_minion WITH OWNER lutim;' | psql -h postgres -U lutim lutim_db
    - MOJO_CONFIG=t/sqlite3.conf make minion &
    - sleep 3
    - MOJO_CONFIG=t/sqlite3.conf make test-sqlite
    - MOJO_CONFIG=t/sqlite3.conf make watch
    - MOJO_CONFIG=t/sqlite3.conf make cleanbdd
    - MOJO_CONFIG=t/sqlite3.conf make cleanfiles
    - MOJO_CONFIG=t/sqlite3.conf make stats
    - MOJO_CONFIG=t/sqlite3.conf make cover

### PostgreSQL tests
##
#
postgresql1:
  <<: *pg_definition
  script:
    - carton install --deployment --without=sqlite --without=minion --without=cache --without=memcached
    - MOJO_CONFIG=t/postgresql1.conf make test-pg
    - MOJO_CONFIG=t/postgresql1.conf make watch
    - MOJO_CONFIG=t/postgresql1.conf make cleanbdd
    - MOJO_CONFIG=t/postgresql1.conf make cleanfiles
    - MOJO_CONFIG=t/postgresql1.conf make stats
    - MOJO_CONFIG=t/postgresql1.conf make cover
postgresql2:
  <<: *pg_definition
  script:
    - carton install --deployment --without=cache --without=memcached
    - MOJO_CONFIG=t/postgresql2.conf make minion &
    - sleep 3
    - MOJO_CONFIG=t/postgresql2.conf make test-pg
    - MOJO_CONFIG=t/postgresql2.conf make watch
    - MOJO_CONFIG=t/postgresql2.conf make cleanbdd
    - MOJO_CONFIG=t/postgresql2.conf make cleanfiles
    - MOJO_CONFIG=t/postgresql2.conf make stats
    - MOJO_CONFIG=t/postgresql2.conf make cover
postgresql3:
  <<: *pg_definition
  script:
    - carton install --deployment --without=sqlite --without=cache --without=memcached
    - export PGPASSWORD=lutim_pwd; echo 'CREATE DATABASE lutim_minion WITH OWNER lutim;' | psql -h postgres -U lutim lutim_db
    - MOJO_CONFIG=t/postgresql3.conf make minion &
    - sleep 3
    - MOJO_CONFIG=t/postgresql3.conf make test-pg
    - MOJO_CONFIG=t/postgresql3.conf make watch
    - MOJO_CONFIG=t/postgresql3.conf make cleanbdd
    - MOJO_CONFIG=t/postgresql3.conf make cleanfiles
    - MOJO_CONFIG=t/postgresql3.conf make stats
    - MOJO_CONFIG=t/postgresql3.conf make cover
