# vim:set sw=4 ts=4 sts=4 ft=perl expandtab:
{
    ####################
    # Hypnotoad settings
    ####################
    # see http://mojolicio.us/perldoc/Mojo/Server/Hypnotoad for a full list of settings
    hypnotoad => {
        # array of IP addresses and ports you want to listen to
        listen => ['http://127.0.0.1:8080'],
        # user and group you want for Lutim to run with
        # be sure that this user/group have rights on the lutim directory
        # if you launch lutim from a different user, be sure that this user have the right to su this user/group
        # => if current_user is not the user that you sets here and is not root, there's chances that it will fail (see https://github.com/ldidry/lutim/issues/25)
        user   => 'www-data',
        group  => 'www-data'
    },

    ################
    # Lutim settings
    ################

    # put a way to contact you here and uncomment it
    # mandatory
    #contact           => 'John Doe, admin[at]example.com',

    # random string used to encrypt cookies
    # mandatory
    secrets           => ['fdjsofjoihrei'],

    # length of the images random URL
    # optional, default is 8
    #length            => 8,

    # how many URLs will be provisioned in a batch ?
    # optional, default is 5
    #provis_step       => 5,

    # max number of URLs to be provisioned
    # optional, default is 100
    #provisioning      => 100,

    # anti-flood protection delay, in seconds
    # users won't be able to ask Lutim to download images more than one per anti_flood_delay seconds
    # optional, default is 5
    #anti_flood_delay  => 5,

    # twitter account which will appear on twitter cards
    # see https://dev.twitter.com/docs/cards/validation/validator to register your Lutim instance on twitter
    # optional, default is @framasky
    #tweet_card_via    => '@framasky',

    # max image size, in octets
    # you can write it 10*1024*1024
    # optional, default is 10485760
    #max_file_size     => 10485760,

    # if you want to have piwik statistics, provide a piwik image tracker
    # only the image tracker is allowed, no javascript
    # optional, no default
    #piwik_img         => 'https://piwik.example.org/piwik.php?idsite=1&amp;rec=1',

    # if you want to include something in the right of the screen, put it here
    # here's an exemple to put the logo of your hoster
    # optional, no default
    #hosted_by         => 'My super hoster <img src="http://hoster.example.com" alt="Hoster logo">',

    # DEPRECATED DEPRECATED DEPRECATED DEPRECATED DEPRECATED DEPRECATED DEPRECATED DEPRECATED DEPRECATED DEPRECATED
    # Lutim now checks if the X-Forwarded-Proto header is present and equal to https.
    # set to 1 if you use Lutim behind a secure web server
    # optional, default is 0
    #https             => 0,

    # broadcast_message which will displayed on all pages of Lutim (but no in json response)
    # optional, no default
    #broadcast_message => 'Maintenance',

    # array of authorized domains for API calls.
    # if you want to authorize everyone to use the API: ['*']
    # optional, no domains allowed by default
    #allowed_domains   => ['http://1.example.com', 'http://2.example.com'],

    # default time limit for files
    # valid values are 0, 1, 7, 30 and 365
    # optional, default is 0 (no limit)
    #default_delay     => 0,

    # number of days after which the images will be deleted, even if they were uploaded with "no delay" (or value superior to max_delay)
    # a warning message will be displayed on homepage
    # optional, default is 0 (no limit)
    #max_delay         => 0,

    # if set to 1, all the images will be encrypted and the encryption option will no be displayed
    # optional, default is 0
    #always_encrypt    => 0,

    # length of the image's delete token
    # optional, default is 24
    #token_length      => 24,

    # URL sub-directory in which you want Lutim to be accessible
    # example: you want to have Lutim under https://example.org/lutim/
    # => set url_sub_dir to '/lutim' or to '/lutim/', it doesn't matter
    # optional, defaut is /
    #url_sub_dir       => '/',

    ##########################
    # Lutim cron jobs settings
    ##########################

    # number of days shown in /stats page (used with script/lutim cron stats)
    # optional, default is 365
    #stats_day_num     => 365,

    # number of days senders' IP addresses are kept in database
    # after that delay, they will be deleted from database (used with script/lutim cron cleanbdd)
    # optional, default is 365
    #keep_ip_during    => 365,

    # max size of the files directory, in octets
    # used by script/lutim cron watch to trigger an action
    # optional, no default
    #max_total_size    => 10*1024*1024*1024,

    # default action when files directory is over max_total_size (used with script/lutim cron watch)
    # valid values are 'warn', 'stop-upload' and 'delete'
    # please, see readme
    # optional, default is 'warn'
    #policy_when_full  => 'warn',

    # images which are not viewed since delete_no_longer_viewed_files days will be deleted by the cron cleanfiles task
    # if delete_no_longer_viewed_files is not set, the no longer viewed files will NOT be deleted
    # optional, no default
    #delete_no_longer_viewed_files => 90
};
