[Unit]
Description=Image hosting and sharing service
Documentation=https://framagit.org/luc/lutim
Requires=network.target
After=network.target

[Service]
Type=forking
User=www-data
RemainAfterExit=yes
WorkingDirectory=/var/www/lutim/
PIDFile=/var/www/lutim/script/hypnotoad.pid
ExecStart=/usr/local/bin/carton exec hypnotoad script/lutim
ExecStop=/usr/local/bin/carton exec hypnotoad -s script/lutim
ExecReload=/usr/local/bin/carton exec hypnotoad script/lutim

[Install]
WantedBy=multi-user.target
