
.icon-eye:before { content: '\e806'; } /* '' */
.icon-download:before { content: '\e804'; } /* '' */
.icon-bitcoin:before { content: '\e802'; } /* '' */
.icon-spinner:before { content: '\e805'; } /* '' */
.icon-github-circled:before { content: '\e800'; } /* '' */
.icon-touiteur:before { content: '\e801'; } /* '' */
.icon-flattr:before { content: '\e803'; } /* '' */