@media (max-width: 767px) {
    body {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

@media (min-width: 768px) {
    body {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.container {
    padding: 15px;
    margin: 0 auto;
}

.jsonly {
    display: none;
}

.thumbnail {
    margin-right: 8px;
}

.hennypenny {
    font-family: 'Henny_Penny', cursive;
    font-size: 42px;
}

.logo {
    margin-right: 10px;
}
label.always-encrypt {
    display: none;
}
.link_nocol,
.link_nocol:hover{
    color: #000000;
    text-decoration: none;
}

#install-app img {
    height: 22px;
}
#install-app {
    display: none;
}
.form-control[readonly] {
    background-color: #FFFFFF;
}
.alert .form-group {
    margin-bottom: 5px;
}
#copy-all {
    margin-bottom: 8px;
}
#gallery-url {
    margin-bottom: 10px;
}
.adjust-addon {
    width: 42px;
}
.adjust-addon .btn {
    width: 43px;
}
#tipeee-img {
    margin-top: -4px;
}
#liberapay-img {
    height: 21px;
    line-height: 21px;
    margin-top: -5.33333px;
}
.pasteZone {
    position: absolute;
    top: 0;
    left: -100px;
    z-index: -999;
    height: 10000vh;
    width: 0;
    display: hidden;
}
