<div id="stats-data">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody>
            <tr>
            </tr>
            <tr>
            </tr>
        </tbody>
    </table>
</div>
